* {
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

body {
  margin: 0;
  background-color: black;
  color: white;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.nav {
  background-color: #ffa07a;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
  font-weight: bold;
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  /* padding: 0.5rem;
  margin-left: 20px;
  margin-right: 20px; */
}

.nav li.active {
  background-color: white;
  border-radius: 50px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px;
}

.nav li:hover {
  background-color: white;
  border-radius: 50px;
  transition: all 0.3s ease 0s;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu-container h1 {
  font-size: 70px;
}

.orderpage-container {
  display: flex;
  justify-content: space-evenly;
}

.orders-container {
  width: 50%;
  height: 700px;
  overflow-y: auto;
}

.orders-container img {
  background-color: transparent;
}

.receipt-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px;
}

.receipt-container h1 {
  font-size: 70px;
}
.receipt-container h3 {
  font-size: 40px;
}

.receipt-items {
  display: flex;
  gap: 0.5rem;
}

.receipt {
  background-color: #3d3a3a;
  padding: 20px;
  width: 500px;
  border-style: solid;
}
.totalprice {
  margin-left: 20px;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 50%;
  margin-right: 50px;
}

.input-form {
  width: 20%;
}

input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.subheader {
  align-self: flex-start;
  margin-left: 5rem;
  margin-top: 40px;
}

.main-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem;
  margin-top: 30px;
  gap: 25px;
  width: 100%;
}

.footer {
  background-color: white;
  color: black;
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.footer-icons {
  margin-left: 10px;
  margin-bottom: 10px;
}

.footer-text h4 {
  margin-bottom: 1.5rem;
  margin-right: 1.5rem;
}

.footer-icons a {
  margin: 2px;
  color: #777;
}

.cards-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  flex-wrap: wrap;
}

.menu-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
  flex-wrap: wrap;
}

.menu-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  width: 100%;
}
.menu-hero-image {
  width: 80%;
}

.productCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 250px;
  height: 600px;
  margin-bottom: 50px;
}

.productCard button {
  width: 95%;
  align-self: center;
}

.productCard .productCard-image {
  max-width: 300px;
  height: auto;
  align-self: center;
}

.orderCard {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
}

.orderCard-image {
  width: 200px;
}
.delete-button-img {
  width: 40px;
  background-color: "rgba(52, 52, 52, 0.8)";
}

.button-30 {
  align-items: center;
  appearance: none;
  background-color: #fcfcfd;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395a;
  cursor: pointer;
  display: inline-flex;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.button-30:focus {
  box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(2px);
}

.filter-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0.6rem;
}

.filter-buttons button {
  width: 70px;
  font-size: medium;
  font-weight: bold;
}

.category-title {
  align-self: flex-start;
  margin-left: 100px;
}

/* Makes site responsive with minimum width being ipad width */
@media only screen and (min-width: 768px) {
  .nav {
    background-color: #ffa07a;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 0 1rem;
  }

  .nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0.5rem;
    margin-left: 20px;
    margin-right: 20px;
  }

  .home-wrapper .subheading {
    align-self: flex-start;
    margin-left: 10rem;
    margin-top: 40px;
  }

  .cards-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8rem;
  }

  .productCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 250px;
    height: 600px;
    margin-bottom: 50px;
  }

  .productCard button {
    width: 100%;
    align-self: flex-end;
  }

  .productCard .productCard-image {
    max-width: 300px;
    height: auto;
    align-self: center;
  }

  .footer-headquarters {
    margin-right: 25px;
  }

  .filter-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 3rem;
    margin-bottom: 80px;
  }

  .filter-buttons button {
    width: 200px;
    font-size: 25px;
    font-weight: bold;
  }
}
